<div class="container-fluid">
  <div class="row">
    <div class="col-xs-4">
      <%= link_to  menu_path do %>
          <button type="button" class="btn btn-default btn-lg">
            &nbsp;Menu
          </button>
      <% end %>
    </div>

    <div class="col-xs-3">
      <%= link_to  new_payment_path do %>
          <button type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;New Payment
          </button>
      <% end %>

    </div>
  </div>
  <div class="row">
    <h3>Payments</h3>
  </div>
<table class="table-condensed table-striped table-bordered">

  <tr class="row">
    <td class="col-md-1">Date</td>
    <td class="col-md-1">Email</td>

    <td class="col-md-1">Status</td>
    <td class="col-md-1">View</td>

  </tr>
  <tr class="row">
    <td class="col-md-1">&nbsp;</td>

    <td class="col-md-1">Amount</td>
    <td class="col-md-1">Fees</td>
    <td class="col-md-1">&nbsp;</td>

  </tr>

  <% @payments.each do |payment| %>
      <tr class="row">
        <td class="col-md-1"><%=I18n.l(payment.date.to_date)%></td>
        <td class="col-md-1"><%=payment.email %>
        <td class="col-md-1"><%=payment.status%></td>
        <td class="col-md-1"><%= link_to 'show',payment_path( payment) %></td>
      </tr>
      <tr class="row">
        <td class="col-md-1">&nbsp;</td>

        <td class="col-md-1"><%=number_to_currency(payment.amount)%></td>
        <td class="col-md-1"><%=number_to_currency(payment.amount_fees)%></td>
        <td class="col-md-1">&nbsp;</td>
      </tr>

  <% end %>

</table>
</div>