<!DOCTYPE html>
<html>
  <head>
    <title>PaymentsApp</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if logged_in? %>
  <div class="container">
    <div class="row">
      <div class="col-xs-3"><%= current_user.name %></div>
      <div class="col-xs-3"><%= current_account.name %></div>
      <div class="col-xs-3"><%= link_to 'Logout', logout_path, :method => :delete %></div>
    </div>
  </div>

  <% end %>
  <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "alert alert-info" %>
  <% end %>

    <%= yield %>
  </body>
</html>
